.footer {
    background-color: var(--Dark-Blue);
    font-family: var(--font-family);
    color: white;
    padding: 2rem 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-left {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.footer-1 ul {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}
.footer-1 .icon {
    cursor: pointer;
}
.footer-1 h3 {
    margin-bottom: 3rem;
} 
.footer-2 li, .footer-3 li {
    margin-bottom: 1rem;
}
.footer-1 li, .footer-2 li, .footer-3 li {
    list-style: none;
}
.footer-2 a, .footer-3 a {
    text-decoration: none;
    color: white;
}
.footer-1 .icon:hover, .footer-2 a:hover, .footer-3 a:hover {
    color: var(--Lime-Green);
}
.footer-right button {
    background: linear-gradient(90deg, rgb(49,211,92) 25%, rgba(43, 183, 218) 100%);
    padding: 15px 35px;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 3rem;
}
.footer-right p {
    color: var(--Grayish-Blue);
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        justify-content: center;
    }
    .footer-left {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0;
    }
    .footer-right {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
    }
    .footer-1 {
        margin-bottom: 2rem;
    }
    .footer-1 h3 {
        margin-bottom: 1.5rem;
    } 
    .footer-right button {
        margin-bottom: 1rem;
    }
}